.body {
  padding: 0;
  margin: 0;
  top: 0;
  justify-content: start;
}

#root {

  width: 100%;

}

.main {
display: 100%;
}

.main-header {
  display: flex;
  justify-content: center;
 
}

.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.main-input {
  display: flex;
}

.main-todo-list {
  display: flex;
  min-width: 100px;
  gap: 12px;
  justify-content: space-between;
}

.section-main-login {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.section-form-login {
  display: flex;
 width: 100%;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-direction: column;
}

.input-login {
  width: 200px;
  display: flex;
}

.input-button {
  width: 50px;
  display: flex;
}